/*CSS file that specify the styles of the whole website*/
/*Take note priorities depends only on specificity*/

body {
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(145, 145, 240);
    text-align: center;
}
